:root {
  /* Color */
  --white-color: #ffffff;
  --primary-color: #5d52ba;
  --secondary-color: #00ccef;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #f65129;
  --social-icon-link-bg-color: #7f73eb;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #e9eaeb;

  /* Testimonial Color Card */
  --clr-primary-400: 263 55% 52%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  /* Font-size */
  --step--2: clamp(0.703rem, 0.808rem + -0.135vi, 0.781rem);
  --step--1: clamp(0.938rem, 0.937rem + 0vi, 0.938rem);
  --step-0: clamp(1.125rem, 1.082rem + 0.217vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.24rem + 0.55vi, 1.666rem);
  --step-2: clamp(1.62rem, 1.411rem + 1.045vi, 2.221rem);
  --step-3: clamp(1.944rem, 1.59rem + 1.768vi, 2.961rem);
  --step-4: clamp(2.333rem, 1.771rem + 2.807vi, 3.947rem);
  --step-5: clamp(2.799rem, 1.943rem + 4.281vi, 5.261rem);

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;

  /* font-weigt */
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* space */
  --space-3xs: clamp(0.313rem, 0.313rem + 0vi, 0.313rem);
  --space-2xs: clamp(0.563rem, 0.541rem + 0.109vi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.853rem + 0.109vi, 0.938rem);
  --space-s: clamp(1.125rem, 1.082rem + 0.217vi, 1.25rem);
  --space-m: clamp(1.688rem, 1.622rem + 0.326vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.435vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.245rem + 0.652vi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.326rem + 0.87vi, 5rem);
  --space-3xl: clamp(6.75rem, 6.489rem + 1.304vi, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.313rem, 0.204rem + 0.543vi, 0.625rem);
  --space-2xs-xs: clamp(0.563rem, 0.432rem + 0.652vi, 0.938rem);
  --space-xs-s: clamp(0.875rem, 0.745rem + 0.652vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.864rem + 1.304vi, 1.875rem);
  --space-m-l: clamp(1.688rem, 1.405rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.728rem + 2.609vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.81rem + 2.826vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.457rem + 5.217vi, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.647rem + 2.391vi, 2.5rem);

  /* Font-family */
  --ff-txt: "League Spartan", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: var(--ff-txt);
  font-size: var(--step-0);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

/* visually-hidden */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* =======***General Styling***======= */
/* container */
.container {
  width: min(90%, 65em);
  /* border: 3px solid firebrick; */
  margin-inline: auto;
}

/* centering */
.center {
  text-align: center;
}

/* flex */
.d-flex {
  display: flex;
  gap: var(--gap, 1em);
}

/* grid */
.d-grid {
  display: grid;
  gap: var(--gap, 1em);
  grid-auto-columns: 1fr;
}

/* button */
.btn {
  display: inline-block;
  background-color: var(--bg-clr-btn, blue);
  color: var(--clr-btn, white);
  text-decoration: none;
  padding-inline: 0.8em;
  padding-block: 0.25em;
  border-radius: 1.2em;
  border: none;
  cursor: pointer;
  transition: 0.35s ease;
}

/* animation-button */
.content--container button.btn:hover,
.form--container form button.btn:hover,
.instagram-link:hover,
.btn-submit:hover {
  --bg-clr-btn: var(--secondary-color);
  --clr-btn: var(--white-color);
}

.btn-group > *:hover {
  --bg-clr-btn: var(--white-color);
  --clr-btn: var(--social-icon-link-bg-color);
}

.btn-article > *:first-child:hover {
  --bg-clr-btn: var(--white-color);
  --clr-btn: var(--custom-btn-bg-color);
}

.btn-featured__group > *:first-child:hover,
.btn-featured__group > *:last-child:hover {
  --bg-clr-btn: var(--custom-btn-bg-color);
  --clr-btn: var(--white-color);
}

/* --------------Home Section--------------- */
section.home {
  min-height: 100svh;
  padding-block: var(--space-3xl);
  color: var(--white-color);
  background-color: #222;
}

@supports (background-blend-mode: multiply) {
  section.home {
    background: url(images/hero-bg.jpg), radial-gradient(#333, #575757);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position-x: 50%;
    background-position-y: 0%;
  }
}

section.home .container {
  grid-template-areas:
    "one"
    "two";
}

/* content--container */
.content--container {
  grid-area: one;
}

.content-txt {
  font-weight: var(--fw-600);
}

.content--container > * + * {
  margin-bottom: var(--space-l);
}

.content--container .content-title {
  font-size: var(--step-4);
  font-weight: var(--fw-700);
}

.content--container button.btn {
  --bg-clr-btn: transparent;
  --clr-btn: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

/* form--container */
.form--container {
  grid-area: two;
  padding: var(--space-m);
  background-color: var(--social-icon-link-bg-color);
  border-radius: 0.5em;
}

.form-title {
  font-size: var(--step-2);
  font-weight: var(--fw-600);
  margin-bottom: var(--space-s-m);
}

.wrap-input {
  flex-direction: column;
}

.wrap-input > * {
  flex-basis: 100%;
}

.input-column {
  background-color: var(--white-color);
  align-items: center;
  justify-content: space-evenly;
  padding: var(--space-2xs-xs);
  border-radius: 2em;
}

.input-column span i {
  /* font-size: var(--step--1); */
  color: var(--primary-color);
}

.input-column input {
  flex-basis: 90%;
  font-size: var(--step--1);
  border: none;
}

.form--container form button.btn {
  min-width: 100%;
  margin-block: 1em;
  --bg-clr-btn: var(--primary-color);
}

.wrap-keyword {
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8em;
}

.keyword-txt {
  font-size: var(--step--1);
}

.btn-group {
  align-items: center;
  flex-wrap: wrap;
}

.btn-group > * {
  font-size: var(--step--2);
  --bg-clr-btn: transparent;
  --clr-btn: var(--white-color);
  border: 2px solid var(--white-color);
}

/* Category */
section.category {
  padding-block: var(--space-l-xl);
}

.category-title {
  text-transform: uppercase;
  font-size: var(--step-2);
  font-weight: var(--fw-700);
  margin-bottom: var(--space-l);
}

.split {
  --gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid navy; */
  margin-bottom: var(--space-xl);
}

.category__item {
  background-color: var(--primary-color);
  color: var(--white-color);
  flex-basis: 12%;
  aspect-ratio: 1;
  align-self: flex-start;
  border-radius: 50%;
  text-decoration: none;
  min-width: 125px;
  padding: 0.2em;
  line-height: 0.5;
}

.category__img {
  margin-inline: auto;
  margin-block-start: 0.5em;
}

.category__details {
  font-size: var(--step--1);
}
/* article-item */
.article {
  position: relative;
}

.article-container {
  --gap: 0;
  overflow: hidden;
  border-radius: 1.25em;
  grid-template-areas:
    "one"
    "two"
    "three";
}

.article-container > *:nth-child(1) {
  grid-area: one;
}
.article-container > *:nth-child(2) {
  grid-area: two;
  padding: var(--space-m);
  background-color: var(--secondary-color);
  color: #fbf7ff;
}

.article-container > *:nth-child(3) {
  grid-area: three;
  display: grid;
  place-items: center;
  isolation: isolate;
}

.article-container > *:nth-child(3) > * {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.article-container > *:nth-child(3) > .img__property {
  z-index: -1;
}

.agent__name {
  font-size: var(--step-1);
  font-weight: var(--fw-600);
}

.article-title {
  font-size: var(--step-2);
  font-weight: var(--fw-600);
}

.img__property {
  object-fit: cover;
  min-height: 100%;
}

.btn-article > * {
  font-size: var(--step--1);
  --bg-clr-btn: transparent;
}

.btn-article > *:first-child {
  border: 2px solid var(--white-color);
}

.instagram-link {
  text-decoration: none;
  --bg-clr-btn: var(--custom-btn-bg-color);
  --clr-btn: var(--white-color);
  border-radius: 1.5rem;
}

.name-tag {
  position: absolute;
  bottom: 5%;
  right: 7%;
  line-height: 0.125;
  border-top: 1.325em solid var(--secondary-color);
  border-radius: 1.25em;
  padding: var(--space-xs-s);
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* FEATURED */

section.featured {
  margin-block-end: var(--space-m);
}

.featured-title {
  font-size: var(--step-2);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.featured-article {
  padding: var(--space-s-m);
  background-color: #e0eef0;
  margin-bottom: var(--space-m);
  align-items: center;
  border-radius: 1.25em;
}

.featured-article > * {
  margin-bottom: var(--space-m);
}

.featured__img {
  align-self: flex-start;
  flex-basis: 5%;
  min-width: 70px;
  object-fit: cover;
  aspect-ratio: 1;
  padding: 0.8em;
  background-color: var(--white-color);
  border-radius: 50%;
}

.featured-article > *:last-child {
  flex-basis: 90%;
}

.featured-job__title {
  font-weight: var(--fw-600);
  font-size: var(--step-2);
  margin-bottom: var(--space-3xs-2xs);
}

.featured-job__status {
  flex-wrap: wrap;
  color: var(--p-color);
}

.featured-job__status > * {
  /* min-width: 120px; */
  align-self: center;
  /* border: 3px solid firebrick; */
}

.featured-job__status > *:first-child {
  margin-right: auto;
}

.featured-job__status i.bi {
  color: var(--primary-color);
}

.btn-featured__group {
  --gap: 1.15em;
  font-size: var(--step--1);
}

.btn-featured__group > *:first-child {
  --bg-clr-btn: var(--primary-color);
  --clr-btn: var(--white-color);
}
.btn-featured__group > *:last-child {
  --bg-clr-btn: var(--section-bg-color);
  --clr-btn: var(--primary-color);
}

.btn-submit {
  --bg-clr-btn: var(--custom-btn-bg-color);
  margin-left: auto;
}

/* Highlight*/
.highlight-wrap {
  --gap: 0;
  overflow: hidden;
  border-radius: 1.25em;
  grid-template-areas:
    "one"
    "two";
}

.highlight-wrap > *:first-child {
  grid-area: one;
  padding: var(--space-l);
  background-color: var(--primary-color);
  color: var(--white-color);
}
.highlight-wrap > *:last-child {
  grid-area: two;
}

.highlight-title {
  font-size: var(--step-2);
  font-weight: var(--fw-600);
}

.highlight-split {
  --gap: 2em;
}

.highlight__content > * {
  margin: 0;
  padding: 0;
}

.highlight-content__title {
  font-size: var(--step-4);
  font-weight: var(--fw-500);
}

.highlight-content__detail {
  font-size: var(--step--1);
  color: var(--secondary-color);
}

.stacked-article {
  display: grid;
  place-items: center;
  isolation: isolate;
}

.stacked-article > * {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.stacked-article .img__property {
  z-index: -1;
}

.icon-yt {
  background-color: var(--custom-btn-bg-color);
  color: var(--white-color);
  padding-block-start: var(--space-xs-s);
  padding-inline: var(--space-xs-s);
  border-radius: 50%;
}

.icon-yt > i {
  font-size: var(--step-3);
}

/* Card */

.card-jobs {
  margin-bottom: var(--space-xl);
}

.card-title__header {
  font-size: var(--step-3);
  font-weight: var(--fw-600);
}

.card-txt__detail {
  max-width: 35em;
}

.wrap-card {
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
}

.card {
  overflow: hidden;
  border: 3px solid #ddd;
  border-radius: 1.25em;
}

.card:first-child() {
  grid-area: one;
}
.card:nth-child(2) {
  grid-area: two;
}
.card:nth-child(3) {
  grid-area: three;
}
.card:nth-child(4) {
  grid-area: four;
}
.card:nth-child(5) {
  grid-area: five;
}
.card:last-child() {
  grid-area: six;
}

.wrap-card_img {
  display: grid;
  place-items: end start;
  isolation: isolate;
}

.wrap-card_img > * {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.wrap-card_content {
  padding: var(--space-s-m);
}

.card-title {
  font-size: var(--step-1);
  font-weight: var(--fw-600);
}

.company-info,
.bookmark-group {
  --gap: 0.5em;
}

.company-info p {
  color: var(--p-color);
}

.bookmark-group > * {
  transition: 0.35s ease;
  color: var(--primary-color);
  cursor: pointer;
}

.bookmark-group > *:hover {
  color: var(--custom-btn-bg-color);
}

.wrap-card_content > .d-flex {
  align-items: center;
  margin-block: var(--space-2xs-xs);
}

.wrap-card_content > *:nth-child(3) > span {
  color: var(--p-color);
  font-size: var(--step--1);
}

.wrap-card_content > .d-flex > span > i {
  color: var(--primary-color);
}

.wrap-card_content > .d-flex .sallary {
  color: var(--p-color);
}

.logo__img {
  align-self: center;
  flex-basis: 5%;
  min-width: 60px;
  object-fit: cover;
  aspect-ratio: 1;
  padding: 0.8em;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 3px solid #ddd;
}

/* Customer */
section.customer {
  background-color: hsl(var(--clr-neutral-200));
  padding-block: var(--space-l-xl);
}

.testimonial-title {
  text-transform: uppercase;
  margin-block-end: var(--space-l);
  font-size: var(--step-2);
  font-weight: var(--fw-600);
}

.testimonial-grid {
  --gap: 1.5em;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
}

.testimonial-card:first-child {
  grid-area: one;
}
.testimonial-card:nth-child(2) {
  grid-area: two;
}
.testimonial-card:nth-child(3) {
  grid-area: three;
}
.testimonial-card:nth-child(4) {
  grid-area: four;
}
.testimonial-card:last-child {
  grid-area: five;
}

.testimonial-card {
  padding: var(--space-s-l);
  /* border: 3px solid hotpink; */
  border-radius: 0.5em;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.testimonial-card.quote {
  background-image: url(images-testimony/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}

.bg-secondary-400 {
  background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 2px solid #a775f1;
}

.card-header {
  --gap: 0.5em;
  align-items: center;
  margin-bottom: var(--space-m);
}

/* .card-header > * {
  border: 2px solid firebrick;
} */

.person {
  line-height: 0.3;
}

.card-header .name {
  font-size: var(--step--1);
  font-weight: var(--fw-700);
}

.card-header .status {
  font-size: var(--step--1);
  opacity: 0.5;
}

.img__testimony {
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 50%;
}

.card-content__title {
  font-size: var(--step-1);
  font-weight: var(--fw-600);
}

.card-content__detail {
  font-size: var(--step--1);
  opacity: 0.7;
}

/* REGISTER */
main.register {
  padding-block: var(--space-l);
  color: var(--white-color);
  background-color: #222;
  margin-block-end: var(--space-xl);
}

@supports (background-blend-mode: multiply) {
  main.register {
    background: url(images/millennial-group-young-businesspeople.jpg), radial-gradient(#333, #575757);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}

main.register .container {
  flex-wrap: wrap;
  align-items: center;
}

main.register .wrap__content-register {
  max-width: 25em;
}

main.register .register-title {
  font-size: var(--step-3);
}

main.register .btn-article > * {
  font-size: var(--step-0);
}
/* Awal Information */

section.information {
  margin-block-end: var(--space-xl);
  /* border: 3px solid navy; */
}
.wrap-information {
  grid-template-areas:
    "one one"
    "two three"
    "four four";
}

/* .wrap-information_item {
  border: 3px solid lime;
} */

.wrap-information > *:first-child {
  grid-area: one;
}
.wrap-information > *:nth-child(2) {
  grid-area: two;
}
.wrap-information > *:nth-child(3) {
  grid-area: three;
}
.wrap-information > *:last-child {
  grid-area: four;
}

.company-logo {
  align-items: center;
  margin-bottom: var(--space-m);
  --gap: 0.8em;
}

.logo_design {
  flex-basis: 3%;
  min-width: 60px;
  object-fit: cover;
  aspect-ratio: 1;
}

.company-profile {
  line-height: 0;
}

.company-name {
  font-size: var(--step-2);
  color: var(--primary-color);
}

.company-txt {
  font-size: var(--step--2);
  font-weight: var(--fw-700);
  color: var(--custom-btn-bg-color);
}

.information-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.information-list__item {
  color: var(--p-color);
}

.information-list__item > i.bi {
  color: var(--primary-color);
}

.information-list > * + * {
  margin-block-start: var(--space-2xs);
}

.newsletter-box {
  background-color: var(--section-bg-color);
  padding: var(--space-s);
}

.information_item--title {
  margin-bottom: var(--space-xs);
}

.input-row {
  --gap: 0.55em;
  place-items: center;
  padding: var(--space-2xs);
  /* border: 3px solid firebrick; */
  border-radius: 1.25em;
  background-color: var(--white-color);
}

.input-row > input {
  width: 95%;
  border: none;
}

.btn.send {
  padding-block: 0.5em;
  border-radius: 50%;
  --bg-clr-btn: var(--primary-color);
}

/* Footer */
footer.footer {
  padding: var(--space-s-m);
  color: var(--white-color);
  background-color: var(--social-icon-link-bg-color);
}

/* Akhir Footer */
.icon-arrow {
  color: white;
  font-size: var(--step-2);
}

.icon-arrow > i.bi {
  /* color: var(--secondary-color); */
}

.copy-right {
  font-size: var(--step--1);
  text-align: left;
}
/* Akhir Information */

/* ============ Responsive Breakpoints ================ */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 48em) {
  .wrap-input {
    flex-direction: row;
  }
  .highlight-wrap {
    grid-template-areas: "one two";
    --gap: 1.25em;
  }

  .wrap-card {
    grid-template-areas:
      "one two"
      "three four"
      "five six";
  }

  .testimonial-grid {
    grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four";
  }
  .wrap-information {
    grid-template-areas:
      "one one two three"
      "four four four four";
  }

  .wrap-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 62em) {
  section.home .container {
    grid-template-areas: "one two";
  }
  .article-container {
    --gap: 1.25rem;
    grid-template-areas: "one two three";
  }

  .featured-job__status {
    --gap: var(--space-xl);
  }

  .wrap-card {
    grid-template-areas:
      "one two three"
      "four five six";
  }

  .testimonial-grid {
    grid-template-areas:
      "one one two five"
      "three four four five";
  }

  main.register .container {
    justify-content: space-between;
  }

  .wrap-information {
    grid-template-areas: "one two three four four";
  }
}
